body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
nav{
	
	width: 100%;
    z-index: 10;
    background-color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    height: 65px;
    position: fixed;
  

}
 .nav-right {
    	width: 80%;
    	margin: 0 auto;
    	padding: 0;
    	
    
    } 

    .nav-right a {
		text-decoration: none;
		display: inline-block;
		padding: 20px;
    	color:  #e18fdc;
    	margin: 5px 0;
    	box-sizing: border-box;

    	
    }	

    .nav-right a:hover{
    	background-color: #beb8ad;
    	color: #fff;
    }
    nav .toggle {
    	width: 100%;
    	color:  #e18fdc;
    	text-decoration: none;
    	text-align: right;
    	padding: 10px 20px;
    	box-sizing: border-box;
    	font-size: 35px;
    	background: #fff;
    	float: right;
    	display: none;
    	margin-bottom: 15px;

    }

    @media (max-width: 540px) {
    	nav .toggle {
    		display: block;
    	} 
    	 
    

		 .nav-right {
		    		width: 100%;
		    		display: none;
		    		background: #FFE0F2;

		    	   } 

		  .nav-right a {

		  	display: block;
		  	text-align: center;
		  	color: #5E6677;
		  	z-index: 10;
			
		        }

		 .active {
		 	display: block;
		 }  
    }